doctype
html
	head
		title Form registrasi
		link(rel='stylesheet', href='/assets/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/main.css')
	body(ng-app="registrasi")
		block content
		script(src='/assets/jquery/dist/jquery.min.js')
		script(src='/assets/bootstrap/dist/js/bootstrap.min.js')
		script(src='/assets/angular/angular.min.js')
		script(src='/js/main.js')
